<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование фильма</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Редактирование фильма</h1>
    <div th:each="el : ${post}">
        <form th:action="${'/kino/'+ el.id + '/edit'}" method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Введите название фильма"
                   class="form-control"><br>
            <input type="text" th:value="${el.genre}" name="genre" placeholder="Введите жанр фильма"
                   class="form-control"><br>
            <input type="text" th:value="${el.director}" name="director" placeholder="Введите режисера фильма"
                   class="form-control"><br>
            <input type="text" th:value="${el.yearKino}" name="yearKino" placeholder="Введите год выпуска фильма"
                   class="form-control"><br>
            <input type="textarea" th:value="${el.full_text}" name="full_text" placeholder="Введите описание фильма"
                   class="form-control"><br>
            <input type="text" th:value="${el.startTime}" name="startTime" placeholder="Введите сеансы фильма"
                   class="form-control"><br>
            <input type="text" th:value="${el.shareLink}" name="shareLink" placeholder="Введите ссылку на фильм"
                   class="form-control"><br>
            <button type="submit" class="btn btn-success">Обновить</button>
        </form>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>