<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5"
     style="display: flex; flex-direction: column; justify-content: center; align-items: center;margin-top: 50px;">
    <h1 th:text="${title}"/>
    <a href="/kino">Перейти на главную</a>
</div>


</body>
</html>